:root {
  --text-color-heavy: #212121;
  --text-color-light: #757575;
  --text-color-hover: #2196f3;
  --footer-background: #2f303a;
  --hero-background: #2f303a;
  --hero-header-color: #ffffff;
  --hero-button-color: #fff;
  --hero-button-background: #2196f3;
  --filter-button-background: #f5f4fa;
  --filter-button-hover-color: #fff;
  --filter-button-hover-background: #2196f3;
  --footer-adress-color: #ffffff;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --header-logo-color: #000;
  --footer-logo-color: #fff;
  --logo-color: #2196f3;
}

 body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
} 
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
address {
  font-style: normal;
}

.visually-hidden { 
  color: rgba(0, 0, 0, 0); 
  position: absolute; 
  width: 1px; 
  height: 1px; 
  margin: -1px; 
  border: 0; 
  padding: 0; 
  white-space: nowrap;
   clip-path: inset(100%); 
  clip: rect(0 0 0 0); 
  overflow: hidden;}

/* header */
.header {
}

.header .logo{
  color: var(--header-logo-color);
}

.footer .logo{
  color: var(--footer-logo-color);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo span {
  color: var(--logo-color);
}
.header-menu {
}
.header-menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-heavy);
}
.contacts .header-menu-item {
  color: var(--text-color-light);
}
.header-menu-item:hover {
  color: var(--text-color-hover);
}
/*  */
.button {
  cursor: pointer;
}

/* studio*/
.hero {
  background: var(--hero-background);
}
.hero-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-header-color);
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color:var(--hero-button-color);
  background: var(--hero-button-background);
  border-radius: 4px;
  border: none;
}
.features {
}
.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-heavy);
}
.features-list {
}
.features-item {
}
.features-item-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-heavy);
}
.features-item-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-light);
}
.activity {
}
.activity-list {
}
.team {
}
.members-list {
}
.member {
}
.member-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-heavy);
}
.member-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-light);
}
/* portfolio */
.filters {
}
.filters-list {
}
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-heavy);
  background:var(--filter-button-background);
  border-radius: 4px;
  border: none;
}
.filter-button:hover {
  color: var(--filter-button-hover-color);
  background:var(--filter-button-hover-background);
}

.samples-list {
}
.sample {
}
.sample-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color-heavy);
}
.sample-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color-light);
}
/* footer */
.footer {
  background: var(--footer-background);
}
.footer-list {
}
.footer-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-adress-color);
}
.footer-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);
}

.footer-adress:hover, .footer-contact:hover{
color: var(--text-color-hover);
}   